body {
    padding: 0;
    margin: 0;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    min-width: 1300px;
}
header {
    height: 50px;
    position: fixed;
    right: 0;
    left: 0;
    background-color: black;
    padding-left: 15px;
    vertical-align: middle;
}
header h1 {
    display: inline-block;
    color: #9d9d9d;
    font-size: 18px;
    line-height: 20px;
    cursor: pointer;
}
header h1:hover {
    color: #fff;
}
main {
    padding-top: 50px;
    width: 100%;
    height: 100vh;
}
main > section {
    width: 70%;
    height: 100%;
}
main > aside {
    width: 30%;
}
main > * {
    float: left;
    padding: 0;
    margin: 0;
}
aside > section {
    padding: 10px;
    background-color: #f5f5f5;
    border-radius: 4px;
    margin: 10px;
}
section > h2 {
    color: #337ab7;
    text-align: center;
    font-size: 18px;
    margin: 10px 0;
}
fieldset {
    border: none;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}
#main-graph {
    width: 100%;
    /* height: 100%; */
    min-height: 800px;
    height: 70vh;
    padding: 15px;
    /* background-color: #555; */
    border-radius: 5px;
    color: #F5F5F5;
}
#panel-settings form {
    width: 100%;
}
#panel-settings form input[type="text"],
#panel-settings form input[type="number"]  {
	width: 70px;
}
#panel-settings form fieldset + fieldset:not(:last-child){
    padding: 10px 0;
    margin: 10px 0;
    border-top: 1px solid #ccc;
}
#panel-settings form fieldset:last-child,
#panel-settings h4 {
    text-align: center;
}
#includes, #receivers {
    width: 100%;
    table-layout: fixed;
}
#includes thead, #receivers thead{
    font-size: 10px;
    text-align: center;
}
.cell {
    /*fill: #fff;*/
    /*stroke: #ccc;*/
}
.legend-text,
.x-axis-text,
.y-axis-text {
    font-size: 8pt;
    font-family: Consolas, courier;
    fill: #aaa;
}

.x.axis path {
    display: none;
}

.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 2px;
}
.hlines, .vlines,
.hmainline, .vmainline {
    fill: none;
    stroke: #c7c7c7;
}
.hmainline, .vmainline {
    stroke-width: 2px;
}

.hlines, .vlines {
    stroke-width: 1px;
}
